@model IEnumerable<PruebaCidenet.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tablaEmpleado">
    <thead>
        <tr>
            <th>
                País
            </th>
            <th>
                Tipo Identificación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtrosNombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                Area
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.listaPaises.Where(x => x.Value == item.IdPais.ToString()).FirstOrDefault().Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.listaTipoIdentificacion.Where(x => x.Value == item.IdTipoIdentificacion.ToString()).FirstOrDefault().Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtrosNombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.listaAreas.Where(x => x.Value == item.idArea.ToString()).FirstOrDefault().Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
